MODEL_NAME=HuggingFaceTB/SmolLM2-135M-Instruct
MODEL_URL = http://model:8000/v1
COMPOSE_PROFILES=local_model
api_key = dummy_api_key_for_testing_purposes
PROVIDER = local

#case of openrouter
# MODEL_NAME=nex-agi/nex-n2-pro:free
# MODEL_URL=https://openrouter.ai/api/v1.

# api_key = sk...

# #openrouter ou local
# PROVIDER = openrouter